<q-page padding class="flex q-pt-xl">
  <div class="full-width" v-if="matchs">
    <div class="q-gutter-y-md" style="padding-top: 62px;">
      <q-card class="bg-grey-10">
        <q-card-section class="text-h4 text-center match-card-bar">
          <q-chip size="lg" class="bg-white text-indigo-5">
            <q-icon name="fas fa-music" class="q-mr-sm" />
            <span class="text-bold">{{ allScoresCount }}</span>
          </q-chip>
        </q-card-section>
        <q-tab-panels
          class="q-pa-md q-py-xl"
          v-model="matchTab"
          ref="matchTabs"
          animated>
          <q-tab-panel
            :name="matchIndex"
            v-for="(matchItem, matchIndex) in matchs" :key="'tab-panel' + matchIndex">
            <div class="row q-col-gutter-md justify-around">
              <div
                class="col-3 col-lg-3 col-sm-6"
                v-for="(matchTeamItem, teamIndex) in matchs[matchIndex].matchTeams"
                :key="matchTeamItem.team.id">
                <MatchTeamListCard
                  :match="matchTeamItem"
                  :color="matchTeamItem.color"
                  :star="isInBestMatchTeam(matchTeamItem.id)"
                  :lastScored="lastScored === matchTeamItem.id"
                  :gameOver="isGameOver"
                  @updateScore="updateScore" />
              </div>
            </div>
          </q-tab-panel>
        </q-tab-panels>
        <q-card-actions align="between">
          <q-btn
            flat
            round
            color="white"
            icon="fas fa-backward"
            size="xl"
            class="q-ml-md"
            :disable="!isRoundClosed || matchTab === 0"
            @click="$refs.matchTabs.previous()">
            <q-tooltip
              anchor="center right"
              self="center left"
              :offset="[10, 10]"
              content-style="font-size: 16px"
              transition-show="scale"
              transition-hide="scale">
              Consulter la rencontre précédente
            </q-tooltip>
          </q-btn>
          <q-chip size="xl" class="bg-white q-mt-sm">
            <q-icon
              v-show="!currentMatch.is_final"
              color="indigo-5"
              :name="`fas fa-dice-${wordNumbers[matchTab]}`"
              style="font-size: 40px;" />
            <div
              class="text-indigo-5 text-uppercase text-h5 text-bold"
              v-show="currentMatch.is_final">
              <q-icon name="fas fa-trophy" class="q-mb-xs" />
              <span class="q-ml-sm">Finale</span>
            </div>
          </q-chip>
          <q-btn flat round v-close-popup
            color="white"
            icon="fas fa-forward"
            size="xl"
            class="q-mr-md"
            :disable="matchSummaryPopup || currentMatch.is_final"
            @click="nextMatch()"
            v-show="matchTab !== (currentMatch.matchTeams.length - 1)
              || !currentMatch.is_closed">
            <q-tooltip
              anchor="center left"
              self="center right"
              :offset="[10, 10]"
              content-style="font-size: 16px"
              transition-show="scale"
              transition-hide="scale">
              Passer à la rencontre suivante
            </q-tooltip>
          </q-btn>
          <q-btn flat round
            icon="fas fa-trophy"
            color="white"
            size="xl"
            class="q-mr-md"
            @click="showRoundSummary()"
            v-show="matchTab === (currentMatch.matchTeams.length - 1)
              && currentMatch.is_closed">
            <q-tooltip
              anchor="center left"
              self="center right"
              :offset="[10, 10]"
              content-style="font-size: 16px"
              transition-show="scale"
              transition-hide="scale">
              Voir le compte rendu de la manche
            </q-tooltip>
          </q-btn>
        </q-card-actions>
      </q-card>
    </div>
  </div>

  <q-dialog
    ref="dialog-success"
    maximized
    auto-close
    v-model="teamSuccessPopup"
    transition-show="fade"
    transition-hide="fade"
    @hide="resetSuccess()">
    <q-card dark style="overflow: hidden;">
      <q-card-section class="text-h3 text-center q-py-xl">
        <q-icon name="fas fa-star q-mr-lg" style="margin-bottom:22px;" />
        Point pour
        <span :class="'text-uppercase text-' + successTeamColor">
          {{ successTeamName }}
        </span>
        <q-icon name="fas fa-star q-ml-lg" style="margin-bottom:22px;" />
      </q-card-section>
      <q-card-section class="flex flex-center">
        <img
          contain
          :src="successImage"
          class="rounded-borders"
          style="height: 80vh;" />
      </q-card-section>
    </q-card>
  </q-dialog>

  <DialogMatchSummary
    v-model="matchSummaryPopup"
    :teamsRanking="matchTeamsRanking"
    @next-match="nextMatch()" />

  <DialogRoundSummary
    v-model="roundSummaryPopup"
    :roundId="$route.params.round_id"
    :teamsRanking="roundTeamsRanking"
    @newMatch="$refs.matchTabs.next()" />

</q-page>
