<q-page padding class="flex flex-center">
  <div class="full-width" v-if="matchs">
    <div class="q-gutter-y-md">
      <q-card class="bg-grey-10">
        <q-tab-panels
          v-model="matchTab"
          ref="matchTabs"
          animated>
          <q-tab-panel
            :name="matchIndex"
            v-for="(matchItem, matchIndex) in matchs" :key="'tab-panel' + matchIndex">
            <div class="row q-col-gutter-md justify-around">
              <div
                class="col-3 col-lg-3 col-sm-6 relative-position"
                v-for="(matchTeamItem, teamIndex) in matchs[matchIndex].matchTeams"
                :key="matchTeamItem.team.id">
                <MatchTeamListCard
                  :match="matchTeamItem"
                  :color="matchTeamItem.color"
                  :star="isInBestMatchTeam(matchTeamItem.id)"
                  :isLastScored="lastScored.team_id === matchTeamItem.team_id"
                  :gameOver="isGameOver"
                  :playingTeam="playingTeam"
                  @success="acceptPoint()"
                  @failure="discardPoint()" />
              </div>
            </div>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </div>
  </div>

  <q-footer>
    <div class="row full-width navbar-bottom q-py-sm justify-between">
      <q-btn
        flat
        round
        color="white"
        icon="fas fa-backward"
        size="xl"
        class="q-ml-md"
        :disable="!isRoundClosed || matchTab === 0"
        @click="$refs.matchTabs.previous()">
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          content-style="font-size: 16px"
          transition-show="scale"
          transition-hide="scale">
          Consulter la rencontre précédente
        </q-tooltip>
      </q-btn>
      <div class="q-pt-sm">
        <q-btn
          flat
          round
          color="white"
          class="q-mr-xl"
          icon="fas fa-undo"
          size="lg"
          @click.prevent="undo()"
          :disabled="!playingTeam.$id" />
        <q-chip size="xl" class="bg-white q-mt-sm">
          <q-icon
            v-show="!currentMatch.is_final"
            color="indigo-5"
            :name="`fas fa-dice-${wordNumbers[matchTab]}`"
            style="font-size: 40px;" />
          <div
            class="text-indigo-5 text-uppercase text-h5 text-bold"
            v-show="currentMatch.is_final">
            <q-icon name="fas fa-trophy" class="q-mb-xs" />
            <span class="q-ml-sm">Finale</span>
          </div>
        </q-chip>
      </div>
      <q-btn flat round v-close-popup
        color="white"
        icon="fas fa-forward"
        size="xl"
        class="q-mr-md"
        :disable="matchSummaryPopup || currentMatch.is_final"
        @click="nextMatch()"
        v-show="matchTab !== (currentMatch.matchTeams.length - 1)
          || !currentMatch.is_closed" />
      <q-btn flat round
        icon="fas fa-trophy"
        color="white"
        size="xl"
        class="q-mr-md"
        @click="showRoundSummary()"
        v-show="matchTab === (currentMatch.matchTeams.length - 1)
          && currentMatch.is_closed" />
      </q-btn>
    </div>
  </q-footer>

  <DialogSuccess v-model="teamSuccessPopup" :matchTeam="lastScored" />

  <DialogMatchSummary
    v-model="matchSummaryPopup"
    :isLastMatch="matchTab + 1 === matchs.length"
    :teamsRanking="matchTeamsRanking"
    @next-match="nextMatch()" />

  <DialogRoundSummary
    v-model="roundSummaryPopup"
    :roundId="$route.params.round_id"
    :teamsRanking="roundTeamsRanking"
    @newMatch="$refs.matchTabs.next()" />

</q-page>
