<q-card flat bordered class="col-3 col-sm-4 col-xs-6 bg-indigo-5">
  <q-card-section class="text-white text-center text-h6">
    <q-avatar v-if="team.avatar">
      <img :src="`statics/avatars/${team.avatar}`">
    </q-avatar>
    {{ team.id ? team.name : 'Nouvelle équipe' }}
  </q-card-section>
  <q-card-section class="bg-white">
    <div class="row">
      <div class="col-1 self-center">
        <q-btn
          round
          v-show="avatarTab > 0"
          size="md"
          color="indigo-5"
          icon="fas fa-arrow-left"
          @click="$refs.avatarTabs.previous()" />
      </div>
      <div class="col-10">
        <q-tab-panels
          v-model="avatarTab"
          ref="avatarTabs"
          animated>
          <q-tab-panel
            :name="tabIndex"
            v-for="(avatarPage, tabIndex) in avatarsChunk"
            :key="tabIndex">
            <q-list class="q-col-gutter-md row items-start">
              <q-item
                dense
                class="col-3 q-my-xs q-pb-md"
                v-for="(avatar, avatarIndex) in avatarPage"
                :key="avatarIndex"
                clickable
                v-ripple
                :disable="isAvatarFree(avatar)"
                :active="team.avatar === avatar"
                active-class="bg-blue-2"
                @click="selectAvatar(avatar)">
                <q-item-section>
                  <q-img contain :src="`statics/avatars/${avatar}`" style="height: 50px;" />
                </q-item-section>
              </q-item>
          </q-list>
          </q-tab-panel>
        </q-tab-panels>
      </div>
      <div class="col-1 self-center">
        <q-btn
          round
          v-show="avatarTab < avatarsChunk.length - 1"
          size="md"
          color="indigo-5"
          icon="fas fa-arrow-right"
          @click="$refs.avatarTabs.next()" />
      </div>
    </div>
    <q-input
      outlined
      v-model="team.name"
      label="Nom de l'équipe"
      class="q-py-md"
      ref="team-name"
      :disable="team.avatar.length === 0"
      @keyup.enter="addPlayer(0)">
      <template v-slot:append>
        <q-btn
          flat
          color="indigo-3"
          icon="fas fa-user-plus"
          @click="addPlayer(0)"
          v-show="team.players.length == 0"
          :disable="!team.name"
        />
      </template>
    </q-input>
    <div
      v-for="(player, playerIndex) in team.players"
      v-bind:key="playerIndex">
      <q-input
        dense
        outlined
        class="q-pb-md"
        v-model="team.players[playerIndex].name"
        v-bind:label="'Nom du joueur ' + (parseInt(playerIndex) + 1)"
        v-bind:ref="'playerName' + playerIndex"
        @keyup.enter="addPlayer(parseInt(playerIndex) + 1)"
      >
        <template v-slot:before>
          <q-icon class="fas fa-user" size="xs" />
        </template>
        <template v-slot:append>
          <q-btn
            flat
            color="indigo-3"
            icon="fas fa-user-plus"
            @click="addPlayer(parseInt(playerIndex) + 1)"
            v-show="parseInt(playerIndex) + 1 == team.players.length
              && team.players.length < maxPlayers"
            :disable="!player.name"
          />
        </template>
        <template v-slot:after>
          <q-btn
            @click="removePlayer(playerIndex)"
            icon="fas fa-times"
            color="negative"
            size="sm"
            flat
          />
        </template>
      </q-input>
    </div>
  </q-card-section>
  <q-card-actions class="bg-blue-grey-2 text-right q-px-md" align="between">
    <q-btn
      round
      color="white"
      class="text-red-14"
      icon="fas fa-trash"
      size="sm"
      v-show="team.id"
      @click="$emit('delete')"
    />
    <q-space v-show="!team.id" />
    <q-btn
      push
      size="lg"
      class="text-white"
      color="indigo-5"
      label="OK"
      icon-right="fas fa-check"
      :disable="team.players.length < minPlayers"
      @click="$emit('save', team)"
    />
  </q-card-actions>
</q-card>
