<q-layout view="hHh lpR fFf">

  <q-btn
    round
    glossy
    class="shadow-8"
    style="position: fixed; right: 12px; top: 20px;z-index: 1;"
    color="dark"
    icon="fas fa-chevron-down"
    @click="toggleMaximize()"
    v-if="!headerVisibility" />

  <q-header elevated v-model="headerVisibility" class="navbar-top">

    <q-toolbar class="q-pl-lg q-py-sm">

      <!-- Partie gauche -->
      <q-btn
        flat
        round
        :glossy="currentPage === '/'"
        to="/"
        icon="fas fa-meteor"
        aria-label="Écran d'accueil"
        color="white"
        size="lg">
        <q-tooltip
          anchor="bottom left"
          self="center left"
          :offset="[0, 26]"
          content-style="font-size: 16px"
          transition-show="scale"
          transition-hide="scale">
          Créer une nouvelle partie
        </q-tooltip>
      </q-btn>

      <q-btn
        flat
        round
        class="q-ml-xl"
        :glossy="currentPage === '/equipes'"
        to="/equipes"
        v-if="game"
        icon="fas fa-users"
        aria-label="Équipes"
        color="white"
        size="lg">
        <q-badge
          floating
          color="indigo-5"
          class="q-mt-sm">
          {{ teamsCount }}
        </q-badge>
        <q-tooltip
          anchor="bottom left"
          self="center left"
          :offset="[0, 26]"
          content-style="font-size: 16px"
          transition-show="scale"
          transition-hide="scale">
          Les équipes
        </q-tooltip>
      </q-btn>

      <div v-if="game && rounds.length > 0" class="q-ml-xl">
        <q-btn
          flat
          round
          :glossy="currentPage === '/manches/' + round.id"
          icon="fas fa-dice"
          aria-label="Manches"
          color="white"
          size="lg"
          class="q-ml-sm"
          v-for="(round, roundIndex) in rounds"
          :key="round.id"
          :to="'/manches/' + round.id">
          <q-badge
            floating
            :color="currentPage === '/manches/' + round.id ? 'indigo-5' : 'grey-7'"
            class="q-mt-sm">
            {{ parseInt(roundIndex) + 1 }}
          </q-badge>
          <q-tooltip
            anchor="bottom left"
            self="center left"
            :offset="[0, 26]"
            content-style="font-size: 16px"
            transition-show="scale"
            transition-hide="scale">
            {{ global.roundFrenchCounter[roundIndex] }} manche
          </q-tooltip>
        </q-btn>
      </div>

      <q-space />

      <!-- Partie droite -->
      <div>
        <q-btn
          round
          class="q-ml-md"
          color="white"
          flat
          icon="fas fa-chevron-up"
          v-show="currentPage !== '/'"
          @click="toggleMaximize()">
          <q-tooltip
            anchor="bottom left"
            self="center right"
            :offset="[-50, 36]"
            content-style="font-size: 16px"
            transition-show="scale"
            transition-hide="scale">
            En grand !
          </q-tooltip>
        </q-btn>
      </div>

    </q-toolbar>

  </q-header>

  <q-page-container v-cloak>
    <transition-group
      appear
      :duration="{ enter: 0, leave: 500 }"
      enter-active-class="animation zoomInDown"
      leave-active-class="animated zoomOutDown">
      <router-view :key="$route.fullPath" />
    </transition-group>
  </q-page-container>
</q-layout>
