body {
  font-family: 'IBM Plex Sans';
}

.q-layout {
  background: url('~assets/bg-electro.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.navbar-top, .navbar-bottom {
  background-color: rgba(48,48,48,.9);
}
