<q-page padding class="flex column">
  <div style="padding-top: 62px;">

    <!-- Listing equipes -->
    <div class="row items-start q-col-gutter-md">
      <div
        class="col-3 col-md-3 col-sm-6 col-xs-6"
        v-for="teamItem in teams"
        :key="teamItem.id">
        <TeamListCard
          :team="teamItem"
          @delete="confirmTeamDelete(teamItem)"
          @edit="editTeam"
          alterable />
      </div>
    </div>
  </div>

   <q-footer v-if="game && roundsCount === 0">
    <div class="row full-width navbar-bottom q-py-sm">
      <div class="col-6">
        <q-btn
          flat
          class="q-ml-md"
          size="lg"
          icon="fas fa-flask"
          text-color="white"
          @click="generateFakeTeams()"
          v-if="teams.length !== parseInt(game.numberOfTeams)">
          <q-tooltip
            anchor="center right"
            self="center left"
            :offset="[10, 10]"
            content-style="font-size: 16px"
            transition-show="scale"
            transition-hide="scale">
            Générer des équipes bidons pour tester
          </q-tooltip>
        </q-btn>
        <q-btn
          flat
          class="q-ml-md"
          size="lg"
          icon="fas fa-random"
          text-color="white"
          @click="newRound({ randomScores: true })"
          v-if="teams.length === parseInt(game.numberOfTeams)">
          <q-tooltip
            anchor="center right"
            self="center left"
            :offset="[10, 10]"
            content-style="font-size: 16px"
            transition-show="scale"
            transition-hide="scale">
            Lancer une nouvelle manche avec des scores aléatoires
          </q-tooltip>
        </q-btn>
      </div>
      <div class="col-6 text-right">
        <q-btn
          push
          class="q-mr-md"
          size="lg"
          icon="fas fa-user-friends"
          label="Nouvelle équipe"
          aria-label="Nouvelle équipe"
          color="indigo-5"
          @click="emitGlobalEvent('addTeam')"
          v-if="teamsCount < game.numberOfTeams" />
        <q-btn
          push
          class="q-mr-md"
          size="lg"
          icon="fas fa-dice"
          label="Nouvelle manche"
          aria-label="Nouvelle manche"
          color="indigo-5"
          @click="newRound()"
          v-if="teamsCount === game.numberOfTeams" />
      </div>
    </div>
  </q-footer>

  <!-- Création / modification équipe -->
  <q-dialog
    v-model="teamFormPopup"
    position="top">
    <TeamFormCard
      style="max-width: 800px;width: 80%;"
      :team="teamObject"
      :minPlayers="game.minTeamSize"
      :maxPlayers="game.maxTeamSize"
      @save="saveTeam"
      @delete="deleteTeam(teamObject)"
      @cancel="resetTeam" />
  </q-dialog>

  <!-- Suppression équipe -->
  <q-dialog v-model="deleteTeamConfirm" position="top" persistent>
    <q-card>
      <q-card-section class="row items-center">
        <q-avatar icon="fas fa-exclamation" color="negative" text-color="white" />
        <span class="q-ml-sm">
          Tu es sur le point de supprimer l'équipe "{{ deleteTeamItem.name }}"
        </span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Annuler" color="primary" v-close-popup />
        <q-btn
          flat
          label="Supprimer"
          color="primary"
          v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</q-page>
