<q-dialog
  ref="dialog-round-summary"
  v-model="opened"
  transition-show="slide-down"
  transition-hide="fade"
  @show="processSeparation">
  <q-card style="width: 80%;max-width: 80vw;">
    <q-card-section>
      <div class="row">
        <div class="full-width">
          <q-list
            dense
            class="q-gutter-x-sm column"
            :style="{ height: (listItemHeight * (teamsRanking.length / 2)) + 'px' }">
            <q-item
              v-ripple
              :class="{ 'col-6': true, 'bg-indigo-2': matchTeam.need_separation }"
              :style="{ height: listItemHeight + 'px' }"
              v-for="matchTeam in teamsRanking"
              :key="matchTeam.id"
              :disable="matchTeam.is_disqualified">
             <q-item-section avatar>
                <q-avatar rounded>
                  <q-img cover :src="`statics/avatars/${matchTeam.team.avatar}`" />
                </q-avatar>
              </q-item-section>
              <q-item-section class="text-h6 text-indigo-5">
                <q-item-label lines="1">{{ matchTeam.team.name }}</q-item-label>

              </q-item-section>
              <q-item-section>
                <q-linear-progress
                  stripe
                  rounded
                  style="height: 24px;margin-top: 8px;"
                  :value="Number(matchTeam.score) / bestScore"
                  color="positive"
                  class="q-mb-sm" />
              </q-item-section>
              <q-item-section>
                <q-item-label caption>
                  <q-badge
                    class="text-bold text-body2 "
                    align="middle"
                    color="indigo-5"
                    text-color="white"
                    :label="`${matchTeam.score} Point${Number(matchTeam.score) > 1 ? 's' : ''}`" />
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-white text-bold text-subtitle1">
                <q-item-label>
                  <q-icon
                    class="q-mr-md"
                    color="white"
                    name="fas fa-balance-scale"
                    v-show="matchTeam.need_separation" />
                    EGALITÉ !
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
      </div>
    </q-card-section>

    <q-separator />
    <q-card-actions align="between" class="bg-blue-grey-2 q-px-md q-py-md" v-if="roundId === lastRoundId">
      <div class="q-gutter-sm">
        <q-btn-toggle
          v-model="keepTeamsQuantity"
          color="indigo-3"
          toggle-color="indigo-5"
          :options="[
            {label: 'Non éliminatoire', value: teamsRanking.length},
            {label: 'Disqualifier la moitié', value: (teamsRanking.length / 2)},
            {label: 'Disqualifier un quart', value: (teamsRanking.length / 4 * 3)},
          ]"
          @input="processSeparation()"
          />
      </div>
      <q-toggle
        :class="cumulativeScores ? 'text-indigo-5 text-bold' : 'text-white'"
        :color="cumulativeScores ? 'indigo-5' : 'white'"
        v-model="cumulativeScores"
        label="Conserver les scores"
        v-show="!needSeparation && !isFinale" />
      <q-btn
        push
        v-ripple
        color="indigo-5"
        icon-right="fas fa-dice"
        :label="isFinale ? 'Jouer la finale' : 'Nouvelle manche'"
        @click="newRound({ cumulativeScores: isFinale ? false : cumulativeScores })"
        size="lg"
        v-if="!needSeparation"
        v-close-popup />
      <q-btn
        v-ripple
        color="indigo-5"
        icon="fas fa-balance-scale"
        label="Départager les équipes"
        @click="sendSeparationMatch()"
        size="lg"
        v-if="needSeparation"
        v-close-popup />
      </q-card-actions>
      <q-card-actions align="right" v-if="roundId !== lastRoundId">
        <q-btn
          flat
          v-ripple
          color="indigo-5"
          label="Ok"
          size="lg"
          v-close-popup />
      </q-card-actions>
  </q-card>
</q-dialog>
