<q-btn
    flat
    dense
    color="indigo-5"
    class="full-width"
    v-if="alterable"
    @click="$emit('edit', team)">
  <q-card flat bordered :class="`full-width bg-${color}`">
    <q-card-section class="text-white text-h6">
      <q-list class="row">
        <q-item-section avatar>
          <q-avatar>
            <img :src="`statics/avatars/${team.avatar}`">
          </q-avatar>
        </q-item-section>
        <q-item-section>
          {{ team.name }}
        </q-item-section>
        <q-item-section side>
          <q-btn
            flat
            color="white"
            :icon="isPlayersVisibles ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"
            @click.prevent="isPlayersVisibles = !isPlayersVisibles" />
        </q-item-section>
      </q-list>
    </q-card-section>

    <transition-group
      appear
      enter-active-class="animated bounce"
      leave-active-class="animated pulse"
      class="bg-white">
    <q-card-section key="playersList" v-show="isPlayersVisibles">
    <!-- Example with wrapping only one DOM element / component -->
      <q-list class="bg-white" separator>
        <q-item v-ripple v-for="player in team.players" :key="player.id">
          <q-item-section>
            <q-item-label>
              {{ player.name }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
    </transition-group>
  </q-card>
</q-btn>
