<q-card flat bordered :class="'bg-' + color" v-cloak>
  <q-card-section class="text-white text-bold text-center text-h4">
    {{ match.team.name }}
  </q-card-section>

  <q-card-section class="text-white text-bold">
    <div class="row q-pt-md">
      <div class="col-4 text-left">
        <q-icon class="text-white q-mr-md q-mt-sm" name="fas fa-hamburger" size="md" v-if="lastScored">
          <q-tooltip
            anchor="center right"
            self="center left"
            :offset="[10, 22]"
            content-style="font-size: 16px"
            transition-show="scale"
            transition-hide="scale">
            Dernier point marqué
          </q-tooltip>
        </q-icon>
      </div>
      <div class="col-4 text-center">
        <q-chip size="xl" class="bg-white">
          {{ match.score }} points
        </q-chip>
      </div>
      <div class="col-4 text-right">
        <q-icon class="text-white q-mr-md q-mt-sm" name="fas fa-medal" size="md" v-if="star">
          <q-tooltip
            anchor="center left"
            self="center right"
            :offset="[10, 22]"
            content-style="font-size: 16px"
            transition-show="scale"
            transition-hide="scale">
            Meilleur score
          </q-tooltip>
        </q-icon>
      </div>
    </div>
  </q-card-section>

  <div class="text-center q-py-lg">
    <q-img
      style="height: 300px;"
      contain
      :src="`statics/avatars/${match.team.avatar}`">
    </q-img>
  </div>

  <q-card-actions align="between" v-show="!match.match.is_closed">
    <q-btn
      flat
      v-ripple
      color="white"
      icon="fas fa-undo"
      size="lg"
      @click.prevent="$emit('updateScore', match, match.score - 1)"
      :disabled="match.score <= 0" />
    <q-btn
      flat
      v-ripple
      color="white"
      icon="fas fa-thumbs-up"
      size="lg"
      @click.prevent="$emit('updateScore', match, match.score + 1)" />
  </q-card-actions>

  <q-card-section class="text-h6 text-center text-white" v-show="match.match.is_closed">
    Match terminé !
  </q-card-section>

</q-card>

