<q-card flat bordered :class="'bg-' + color" v-cloak>
  <q-card-section class="text-white text-bold text-center text-h4">
    {{ team.name }}
  </q-card-section>

  <q-card-section class="text-white text-bold">
    <div class="row q-pt-md">
      <div class="col-4 text-left">
        <q-icon class="text-white q-mr-md q-mt-sm" name="fas fa-hamburger" size="md" v-if="lastScored" />
      </div>
      <div class="col-4 text-center">
        <q-chip size="xl" class="bg-white">
          {{ matchTeam.score }} points
        </q-chip>
      </div>
      <div class="col-4 text-right">
        <q-icon class="text-white q-mr-md q-mt-sm" name="fas fa-medal" size="md" v-if="star" />
      </div>
    </div>
  </q-card-section>

  <div class="text-center q-py-lg">
    <q-img
      style="height: 300px;"
      contain
      :src="`statics/avatars/${team.avatar}`" />
  </div>

  <q-card-actions align="between" v-show="!matchTeam.match.is_closed">
    <q-btn
      flat
      v-ripple
      color="white"
      icon="fas fa-undo"
      size="lg"
      @click="$emit('updateScore', matchTeam.match_id, team.id, matchTeam.score - 1)"
      :disabled="matchTeam.score <= 0" />
    <q-btn
      flat
      v-ripple
      color="white"
      icon="fas fa-thumbs-up"
      size="lg"
      @click="$emit('updateScore', matchTeam.match_id, team.id, matchTeam.score + 1)" />
  </q-card-actions>

  <q-card-section class="text-h6 text-center text-white" v-show="matchTeam.match.is_closed">
    Match terminé !
  </q-card-section>

</q-card>

